p{
font-size: 1.3em;
}

.drives{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  float: left;
  width: 49%;
  height: 20em;
  margin-right: 1em;
  box-shadow: 2px 2px;
  padding: 1em;
}

.cpu{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  height: 20em;
  padding: 1em;
}

.wrapper{
width: 100%;
background-color: rgba(34,34,34,0.5);
overflow: hidden;
}

.pc{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 2em;
  margin-top: 1em;
}

.header{
  color: white;
}

.buttonSrvControl{
 width:33%;
 height: 2em;
}

.cpuUsage{
width: 30%;
margin-left: 1em;
color: rgba(254, 93, 38, 0.7);
}

.storage{
width: 30%;
margin-left: 1em;
color: green;

}

.buttonDrvControl{
   height: 2em;
}

.status{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  float: center;
  width: 49%;
}


