p{
font-size: 1.3em;
}

.drive{
  background-color: rgba(42,41,83,255);
  float: left;
  width: 45%;
  height: 20em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.cpu{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  height: 20em;
  padding: 1em;
}

.wrapper{
width: 100%;
background-color: rgba(23,18,59,255);
overflow: hidden;
}

.drive-wrapper{
color: white;
width: 50%;
overflow:hidden;
}

.pc{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 2em;
  margin-top: 1em;
}

.header{
  color: white;
}

.buttonSrvControl{
 width:33%;
 height: 2em;
}

.cpuUsage{
width: 30%;
margin-left: 1em;
color: rgba(254, 93, 38, 0.7);
}

.storage{
width: 30%;
margin-left: 1em;
color: green;

}

.buttonDrvControl{
   height: 2em;
}

.status{
  background-color: rgba(0, 126, 167, 0.7);
  position: absolute;
  left: 15px;
  top: 15px;
  width: 150px;
  height: 309px;
  vertical-align: middle;
  text-align: center;
  padding: 1em 0 1em 0;
}
.status p{
    position: absolute;
    color:black;
    left: 20px;
    top: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0 1em 0;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
  font-family: "Roboto", sans-serif;
  background:#d2eaf1;

}

.circle-wrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
