/* Styles for Main Page*/

p{
font-size: 1.3em;
}

h1{
color:white;
}

.drive{
  background-color: rgba(42,41,83,255);
  float: left;
  width: 45%;
  height: 20em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.cpu{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  height: 20em;
  padding: 1em;
}

.wrapper{
width: 100%;
background-color: rgba(23,18,59,255);
overflow: hidden;
}

.drive-wrapper{
color: white;
width: 50%;
overflow:hidden;
}

.pc{
  background-color: rgba(0, 126, 167, 0.7);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 2em;
  margin-top: 1em;
}

.header{
  color: white;
}

.buttonSrvControl{
 width:33%;
 height: 2em;
}

.cpuUsage{
width: 30%;
margin-left: 1em;
color: rgba(254, 93, 38, 0.7);
}

.storage{
width: 30%;
margin-left: 1em;
color: green;
}

.buttonDrvControl{
   height: 2em;
}

.status{
  background-color: rgba(0, 126, 167, 0.7);
  position: absolute;
  left: 15px;
  top: 15px;
  width: 150px;
  height: 309px;
  vertical-align: middle;
  text-align: center;
  padding: 1em 0 1em 0;
}

.status p{
    position: absolute;
    color:black;
    left: 20px;
    top: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0 1em 0;
}

/* Styles for login Form */

.loginform{
  display: flex;
  justify-content: center;
}

.loginform div{
text-align:center;
  width: 20em;
  height: 15em;
  padding: 10px;
  background: rgba(0, 126, 167, 0.7);
  color: #fff;
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.loginform h3{
 color: black;
 font-size: 1.5em;
}

.loginform input{
    height: 1.5em;
    margin-top: 5px;
}

