<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>NAS-Management</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>

<body>
<ul class="navbar">
    {if is_admin == 1}}
   <li><a href="admin.html">Admin Interface</a></li>
   <li><a href="services.html">Services</a></li>
</ul>


<div class="wrapper">
    <h1>Dashboard</h1>
    <div class="disk">
        <iframe id="diskspace" src="/api/v1/diskspace"></iframe>
    </div>

    <div class="cpu">
        <h1 class="header">CPU Status</h1>
        <iframe id="cpuload" src="/api/v1/cpuload"></iframe>
    </div>
    <div class="pc">
        <h1 class="header">Server Steuerung</h1>
        <form action="/api/v1/shutdown" method="post">
            <input type="submit" class="buttonSrvControl" value="Herunterfahren">
        </form>
        <form action="/api/v1/reboot" method="post">
            <input type="submit" class="buttonSrvControl" value="Neustarten">
        </form>
        <form action="/api/v1/hibernate" method="post">
            <input type="submit" class="buttonSrvControl" value="Ruhezustand">
        </form>
    </div>
</div>
<script>
    window.setInterval(function() {
        reloadIFrame()
    }, 3000);

    function reloadIFrame() {
        console.log('reloading..');
        document.getElementById('cpuload').contentWindow.location.reload();
        document.getElementById('diskspace').contentWindow.location.reload();
    }

</script>
</body>
</html>



