<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login</title>
</head>
<body>

<div class="loginform">
    <div>
        <h3>Bitte anmelden</h3>
    <form action="/login" method="POST">
        <input onclick="this.value=''"  type="text" value="Benutzername" name="username"><br>
        <input onclick="this.value=''" type="password" value="Passwort" name="password"><br>
        <input type="submit" value="Bestätigen">
    </form>
        <h3>{{status}}</h3>
    </div>

</div>


</body>
</html>